---
import {$t} from '../utils/i18n';
const currentLocale = Astro.currentLocale ?? 'en';
---
<section id="contact" class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
        <h2 class="mb-4 text-center text-2xl font-bold leading-none tracking-tight dark:text-white md:text-3xl xl:text-4xl">{$t("Get in touch", currentLocale)}</h2>

        <form class="max-w-sm mx-auto" target="_self" enctype="multipart/form-data"
              id="contact-form" name="contact-form"
              action="https://formkeep.com/f/41adcee5ca3b"
              accept-charset="UTF-8" method="post">
            <div class="grid-cols-1 sm:grid-cols-2 grid gap-x-4">
                <div class="mb-5">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="First_Name">
                        {$t("First name", currentLocale)}</label>
                    <input type="text" name="First Name" id="First_Name"
                           class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"/>
                </div>
                <div class="mb-5">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="Last_Name">
                        {$t("Last name", currentLocale)}</label>
                    <input type="text" name="Last Name" id="Last_Name"
                           class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"/>
                </div>
            </div>
            <div class="grid-cols-1 sm:grid-cols-2 grid gap-x-4">
                <div class="mb-5">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" title="required"
                           for="Email">{$t("Email", currentLocale)} *</label>
                    <input type="email" name="Email" id="Email" required="required"
                           class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"/>
                </div>
                <div class="mb-5">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                           for="Phone">{$t("Phone number", currentLocale)}</label>
                    <input type="tel" name="Phone" id="Phone"
                           class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"/>
                </div>
            </div>
            <div class="mb-5" id="Message__div">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" title="required"
                       for="Message">{$t("Message", currentLocale)} *</label>
                <textarea name="Message" id="Message" required="required"
                          class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"></textarea>
            </div>
            <div style="opacity:0;position:absolute;top:0;left:-5000px;height:0;width:0">
                <label for="email_subscribe_41adcee5ca3b_49467">Subscribe</label>
                <input name="subscribe_41adcee5ca3b_49467" value="" tabindex="-1" autocomplete="off"
                       type="email" id="email_subscribe_41adcee5ca3b_49467" placeholder="Your email here">
            </div>
            <button type="submit" value="Submit" data-disable-with="Submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >{$t("Submit", currentLocale)}
            </button>
        </form>
    </div>
</section>