:root {
  --white: #ffffff;
  --white-transparent: #ffffff10;
  --black: #181818;
  --black-transparent: #18181820;

  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  --primary-color: 7, 0, 112;
  --secondary-color: 48, 0, 69;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-text: var(--black);
  --color-text-hover: var(--black-transparent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);

    --color-border: var(--divider-dark-2);
    --color-border-hover: var(--divider-dark-1);

    --color-text: var(--white);
    --color-text-hover: var(--white-transparent)
  }
}