@import './base.css';

*,
*::before,
*::after,
html,
body {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: all 0.5s;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
}

p {
    font-weight: 300;
}

.primary-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border-radius: 1.2em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    margin: 20px 4px;
    border: 0.15em solid #FFF;
    color: #FFF;
}

.primary-button:hover {
    color: #000032;
    background-color: #FFFFFF;
}

